*.local
*.dsk
*.dsv
*.identcache
*.~dsk
*.cbk
*.rc
*.bmp
__history
__recovery
Win32
*.dcu
*.exe
/Test/*.drc
/Test/*.deployproj
/Test/*.tmp
/Test/*.map
/Test/*.mes
/Test/Test
/Test/Linux64/Release/*.o
/Test/*.exp
/Test/*.lnk
/Test/*.pdb
